#! /bin/bash

# changing user to root and generating ssh keys
sudo su -
ssh-keygen -q -t rsa -N '' <<< $'\ny' >/dev/null 2>&1

# kops installation
sudo wget https://github.com/kubernetes/kops/releases/download/v1.24.0-alpha.5/kops-linux-amd64
sudo chmod 700 kops-linux-amd64
sudo mv kops-linux-amd64 kops
sudo mv kops /usr/local/bin

# kubectl installation 
sudo curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
sudo chmod 700 kubectl
sudo mv kubectl /usr/local/bin

# unzip installation 
apt update && apt install unzip -y

# aws cli installation 
curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
unzip awscliv2.zip
./aws/install

#creating permenant environmental variables
export DB_HOSTNAME=${rds_db_endpoint} 
echo 'export AWS_DEFAULT_REGION=us-east-1' >> /root/.bashrc
echo 'export NAME=stacksimplify.club' >> /root/.bashrc
echo 'export KOPS_STATE_STORE=s3://stacksimplify.club1' >> /root/.bashrc

# changing directory
cd /root

# creating k8s cluster(single master t2.small and 2 nodes t3.micro)
#kops create cluster --name=stacksimplify.club \
#     --state=s3://stacksimplify.club1 --zones=us-east-1a,us-east-1b,us-east-1c \
#     --node-count=2 --master-count=1 --node-size=t3.medium --master-size=t3.medium \
#    --master-zones=us-east-1a  --master-volume-size 10 --node-volume-size 10 \
#     --dns-zone=stacksimplify.club --yes

kops create cluster --name=stacksimplify.club \
     --state=s3://stacksimplify.club1 --zones=us-east-1a,us-east-1b,us-east-1c \
     --node-count=1 --master-count=1 --node-size=t2.medium --master-size=t2.medium \
    --master-zones=us-east-1a  --master-volume-size 10 --node-volume-size 10 \
     --dns-zone=stacksimplify.club --yes
